<a href="https://colab.research.google.com/github/michelleruas/Probability_And_Modelling/blob/master/Python_For_Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import pandas_datareader.data as web
import matplotlib
from bs4 import BeautifulSoup
import sklearn as sk
import numpy as np

In [12]:
import datetime as dt
import matplotlib.pyplot as plt
from matplotlib import style

style.use("ggplot")

start = dt.datetime(2000,1,1)
end = dt.datetime(2016,12,31)

df = web.DataReader("TSLA", 'yahoo', start, end)
print(df.head())
df.to_csv("tsla")

             High        Low       Open      Close    Volume  Adj Close
Date
2010-06-29  25.00  17.540001  19.000000  23.889999  18766300  23.889999
2010-06-30  30.42  23.299999  25.790001  23.830000  17187100  23.830000
2010-07-01  25.92  20.270000  25.000000  21.959999   8218800  21.959999
2010-07-02  23.10  18.709999  23.000000  19.200001   5139800  19.200001
2010-07-06  20.00  15.830000  20.000000  16.110001   6866900  16.110001

In [13]:
df = pd.read_csv('tsla')
df

            Date        High         Low  ...       Close    Volume   Adj Close
0     2010-06-29   25.000000   17.540001  ...   23.889999  18766300   23.889999
1     2010-06-30   30.420000   23.299999  ...   23.830000  17187100   23.830000
2     2010-07-01   25.920000   20.270000  ...   21.959999   8218800   21.959999
3     2010-07-02   23.100000   18.709999  ...   19.200001   5139800   19.200001
4     2010-07-06   20.000000   15.830000  ...   16.110001   6866900   16.110001
...          ...         ...         ...  ...         ...       ...         ...
1635  2016-12-23  213.449997  207.710007  ...  213.339996   4670500  213.339996
1636  2016-12-27  222.250000  214.419998  ...  219.529999   5915700  219.529999
1637  2016-12-28  223.800003  217.199997  ...  219.740005   3782500  219.740005
1638  2016-12-29  219.199997  214.119995  ...  214.679993   4045000  214.679993
1639  2016-12-30  217.500000  211.679993  ...  213.690002   4642600  213.690002

[1640 rows x 7 columns]